# virtual env
.venv*/
__pycache__/
*.pyc
*.pyo

# datasets (raw + normalized + splits)
data/
a-brazilian-multilabel-ophthalmological-dataset-brset-1.0.1/
*.zip

# model artifacts / reports / logs
models/
reports/
logs/

# images & big binaries anywhere
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.bmp
*.npz
*.pt
*.pth
*.ckpt

# OS junk
.DS_Store
*.DS_Store
