# data & heavy outputs
a-brazilian-multilabel-ophthalmological-dataset-brset-1.0.1/
heatmaps/
.cache/
demo_outputs/
reports/*.csv
*.zip

# editor/system
.DS_Store
Thumbs.db
*.log
__pycache__/
.ipynb_checkpoints/

# if you later decide NOT to use LFS for models, uncomment to ignore:
# models/*.onnx
# models/*.pt
